<%-include("partials/header")-%>
<br><br>
<div class="container" style="height: 100%">
<div class="blob bbs">

    <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
    <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/>
    </svg>
  </div>
  
<center><h1 style="color:rgb(15, 230, 158) ;" class="animate__animated animate__bounceInDown animate__delay-1s" >About Us</h1></center>

<div class="row contact-us-row">
  <div data-aos="fade-left" data-aos-delay="100" data-aos-duration="800" class="col-md-6">
      <div class="contact-card animate__animated animate__rotateInDownLeft">   
          <h3 style="font-weight: 600; font-family: 'Epilogue';"> Arjav Parekh </h3>
          <br>
          <img src="images/profile.png" alt="" height="200px" width="200px">
          <br><br>
         
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <br>
          <div class="social-box">

    
      <a href="https://www.instagram.com/arjavparekh/" ><i class="fab fa-instagram fa-2x" style="color:white; "></i></a>
      <a href="https://www.github.com/Arjav-Parekh"><i class="fab fa-github fa-2x" aria-hidden="true" style="color:white; margin-left:8%;"></i></a>
  
      <a href=""><i class="fab fa-facebook fa-2x" style="color:white; margin-left:8%;"></i></a>
      <a href="https://www.linkedin.com/in/arjav-parekh-91b8971a3"><i class="fab fa-linkedin-in fa-2x"  style="color:white; margin-left:8%;" ></i></a>
    </div>
        </div>

    </div>
  
  
  <br>
  
  <div data-aos="fade-left" data-aos-delay="100" data-aos-duration="800" class="col-md-6">
      <div class="contact-card animate__animated animate__rotateInDownRight">   
          <h3 style="font-weight: 600; font-family: 'Epilogue';"> Aryan Ringshia </h3>
          <br>
          <img src="images/man.png" alt="" height="200px" width="200px">
          <br><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <br>
          <div class="social-box">

    
            <a href="https://www.instagram.com/arjavparekh/" ><i class="fab fa-instagram fa-2x" style="color:white; "></i></a>
            <a href="https://www.github.com/Arjav-Parekh"><i class="fab fa-github fa-2x" aria-hidden="true" style="color:white; margin-left:8%;"></i></a>
        
            <a href=""><i class="fab fa-facebook fa-2x" style="color:white; margin-left:8%;"></i></a>
            <a href="https://www.linkedin.com/in/arjav-parekh-91b8971a3"><i class="fab fa-linkedin-in fa-2x"  style="color:white; margin-left:8%;" ></i></a>
          </div>
        </div>

  </div>
</div>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    
    <p>Made by Arjav Parekh & Aryan Ringshia</p>
    <br>
    <form action="/login" method="GET"><button class="btn btn-primary " >LOGOUT</button></form>
  </div>

</div>

<%-include("partials/footer")-%>
